@import "Variables.scss";

// Header for all pages
.header {
  font-family: "Bodoni Moda SC";
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow:0px 5px 41px 15px $shadow-color;
  position: fixed;
  z-index: 999;
  right: 0px;
  top: 0px;

  .title {
    font-size: 45px;
    letter-spacing: 11%;
    color: $text-color;
    cursor: default
  };

  .logo {
    height: 100px;
    width: 100px;
    padding-left: 35px;
    padding-top: 10px;
    transition: box-shadow 0;
  };
  .menuButton {
    color: $text-color;
    margin: 20px;
    padding: 20px;
    font-size: 14px;
    transition: box-shadow .5s;
    border-radius: 5%;
    text-decoration: none;
    font-style: italic;
  };
  .menuButton:hover {
    box-shadow: 0px 10px 18px 3px $shadow-color;
  };
  .divider {
    width: 10%;
  }
};
